<!DOCTYPE html>
<html lang="en">
<%- include("head")%>
    <style>
        img {
            width: 100px;
            height: 70px;

        }

        .item {
            float: left;
            margin-left: 50px;
        }

        body {
            background-color: #ced6e0;
        }
        
    </style>

    <body>
        <h1>Danh sách tất cả khách hàng
        </h1>
        <br>
            <div>
                <form action="/khach-hang" method="get" class="col-md-6">
                <div class="col-md-9">
                    <input type="text" name="keyword" class="form-control" placeholder="Tìm kiếm..."/>
                </div>
                <button type="submit" class="btn btn-primary">Search</button>
            </form>
        </div>
            
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Tên khách hàng</th>
                        <th>Số CMT</th>
                        <th>Địa Chỉ</th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <% for(var i=0;i<khachhangs.length;i++){ %>
                        <tr>
                            <td><%= khachhangs[i].TenKH %></td>
                            <td><%= khachhangs[i].SoCMT %></td>
                            <td><%= khachhangs[i].DiaChi %></td>
                            <td><a href="/chi-tiet-khach-hang?id=<%= khachhangs[i].SoCMT %>">Chi tiết</a> </td>
                            <td><a href="/update-khach-hang?id=<%= khachhangs[i].SoCMT %>">Sửa</a></td>
                            <td><a href="/xoa-khach-hang?id=<%= khachhangs[i].SoCMT %>">Xóa</a></td>
                        </tr>
                    <% } %>
                </tbody>
                
            </table>
            <div>
                <h3><a href="/them-khach-hang">Thêm khách hàng</a></h3>
            </div>
                <script type="text/javascript" src="js/jquery-3.6.0.min.js"></script>
                <script type="text/javascript" src="js/thoitiet.js"></script>
    </body>

</html>